<article class="blog-post">
    <h2 class="blog-post-title mb-1">{{news.title}}</h2>
    <p class="blog-post-meta">{{news.date}}
        <a href="#">{{news.category}}</a>
    </p>
    <img src="/{{news.photo}}" alt="" width="400" class="img-fluid">
    <p>{{news.text}}</p>
   
</article>